<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Club</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="container">
    <header>
        <h1>Machine Booking</h1>
        <nav>
            <ul>
                <li><a href="./newUser.html">Create User Name</a></li>
                <li><a href="./book.html">Book now</a></li>
            </ul>
        </nav>

    </header>

    <section class="hero">
        <h1>Welcome to the machine time slot booking</h1>
        <p>Know more about the portal</p>
        <a href="./guide.html" class="btn">How to Book the Machine</a>
        <a href="./issue.html" class="btn">Issue</a>
    </section>
    <section class="hero">
        <h1>book your time slot for a hassel free cleaning of your cloth</h1>
        <p>select the time slot and enjoy washing cloths</p>
        <a href="book.html" class="btn">book now</a>
    </section>
</div>
    
    <footer>
        <p>&copy; 2024 Coding Club. All rights reserved.</p>
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
    </footer>
    <!-- <script>
        function myFunction() {
          alert("Hello! I am an alert box!");
        }
    </script> -->
</body>

</html>