<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
    <header>
         <h1 style="color: black;">
            <a href="./">Machine Booking</a>
        </h1>
        <nav>
            <ul>
                <li><a href="./book.html">Book now</a></li>
            </ul>
        </nav>

    </header>

    <section class="hero">
        <section class="featured-projects">
            <h2>Users's Credentials</h2>
            <form action="/sign_up.php" method="POST" style="max-width: 400px; margin: 0 auto; padding: 20px; background-color: #f4f4f4; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <label for="name" style="font-size: 1.2em;color: black; margin-bottom: 10px; display: block;">User ID(URN NO.):</label>
                <input type="text" id="name" name="name" placeholder="Enter your User Id" style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;"><br>
                <label for="floor" style="font-size: 1.2em; color: black; margin-bottom: 10px; display: block;">Floor No:</label>
                <select id="floor" name="floor" style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select><br>
    
                <label for="room" style="font-size: 1.2em; color: black; margin-bottom: 10px; display: block;">Room No:</label>
                <input type="text" id="room" name="room" placeholder="Enter your room number" style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;"><br>

                <input type="submit" value="Submit" style="width: 100%; padding: 12px; background-color: #0073e6; color: white; border: none; border-radius: 5px; font-size: 1.2em; cursor: pointer;">
        </section>
    </section>
</div>
    
    <footer>
        <p>&copy; 2024 Coding Club. All rights reserved.</p>
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
    </footer>
</body>

</html>
